/******************* LOADER/SPINNER  *********************************/

 .loading {
  position: fixed;
  z-index: -10;
  width: 100%;
  height: 100vh;
  background: linear-gradient(#ffffff, #dbdbdb);
  opacity: 0;
  animation: loading_anim 3s;
}


@keyframes loading_anim {
  from {
    opacity: 1;
    z-index: 10;
  }
  85% {
    opacity: 1;
    z-index: 10;
  }
  100% {
    opacity: 0;
    z-index: 10;
  }
}

.loading-spheres {
  position: relative;
  top:50%;
  left: calc(50% - 40px); 
  width: 80px;
  height: 80px;
}
.loading-spheres div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loading-spheres div:nth-child(1) {
  left: 8px;
  animation: loading-spheres1 0.6s infinite;
  background: #9356DC;
}
.loading-spheres div:nth-child(2) {
  left: 8px;
  animation: loading-spheres2 0.6s infinite;
  background: #FF79DA ;
}
.loading-spheres div:nth-child(3) {
  left: 32px;
  animation: loading-spheres2 0.6s infinite;
  background: #99E2D0;
}
.loading-spheres div:nth-child(4) {
  left: 56px;
  animation: loading-spheres3 0.6s infinite;
  background: #9356DC;
}
@keyframes loading-spheres1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loading-spheres3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loading-spheres2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}


/************************ FAV HEART ANIM  **********************/


.fa-heart {
  font-size: 24px !important;
}

.container_heart {
  position: relative;
}

.heart_empty {
  position: absolute;
  transition: 0.5s ease;
}
.heart_full {
  opacity: 0;
  display: block;
  background: -webkit-linear-gradient(#ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.4s ease-in;
}


.container_heart:hover .heart_empty {
  opacity: 0;
}

.container_heart:hover .heart_full {
  opacity: 1;
}


/* *************** MENU LIST ANIM ******************* */

@keyframes loading_menu {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.starter-element:nth-child(1) {
  animation: loading_menu 1000ms ease-in-out 100ms backwards;
}
.starter-element:nth-child(2) {
  animation: loading_menu 1000ms ease-in-out 200ms backwards;
}
.starter-element:nth-child(3) {
  animation: loading_menu 1000ms ease-in-out 300ms backwards;
}
.starter-element:nth-child(4) {
  animation: loading_menu 1000ms ease-in-out 400ms backwards;
}

.main-dishes-element:nth-child(1) {
  animation: loading_menu 1000ms ease-in-out 100ms backwards;
}
.main-dishes-element:nth-child(2) {
  animation: loading_menu 1000ms ease-in-out 200ms backwards;
}
.main-dishes-element:nth-child(3) {
  animation: loading_menu 1000ms ease-in-out 300ms backwards;
}
.main-dishes-element:nth-child(4) {
  animation: loading_menu 1000ms ease-in-out 400ms backwards;
}

.dessert-element:nth-child(1) {
  animation: loading_menu 1000ms ease-in-out 100ms backwards;
}
.dessert-element:nth-child(2) {
  animation: loading_menu 1000ms ease-in-out 200ms backwards;
}
.dessert-element:nth-child(3) {
  animation: loading_menu 1000ms ease-in-out 300ms backwards;
}
.dessert-element:nth-child(4) {
  animation: loading_menu 1000ms ease-in-out 400ms backwards;
}


/* *************** MENU ANIM ******************* */

@keyframes check_menu {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-60px);
  }
}
@keyframes rotation_icon {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes price {
  from {
    transform: translateX(0);
    transform-origin: right;
  }
  to {
    transform: translateX(-60px);
  }
}
@keyframes width {
  to {
    max-width: 60%;
  }
}

.fa-circle-check {
  color: white;
  display: block;
  padding: 30px 20px;
}

.starter-element, 
.main-dishes-element,
.dessert-element {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.starter-element-information p,
.main-dishes-element-information p,
.dessert-element-information p {
  text-overflow: ellipsis;
}
.starter-element .check-block, 
.main-dishes-element .check-block, 
.dessert-element .check-block {
  width: 60px;
  height: 100%;
  background-color: #99E2D0;
  position: absolute;
  right: -60px;
  bottom: 0;
}
.starter-element:hover .price, 
.main-dishes-element:hover .price,
.dessert-element:hover .price {
  animation: price 800ms linear 100ms both;
}
.starter-element:hover .check-block,
.main-dishes-element:hover .check-block, 
.dessert-element:hover .check-block {
  animation: check_menu 1s linear both;
}
.starter-element:hover .check-block i,
.main-dishes-element:hover .check-block i,
.dessert-element:hover .check-block i {
  animation: rotation_icon 1s ease-in-out both;
}
.starter-element:hover .dish-subtitle,
.main-dishes-element:hover .dish-subtitle,
.dessert-element:hover .dish-subtitle {
  animation: width 1s linear both;
}
.starter-element:hover .starter-element-title,
.starter-element:hover .dessert-element-title, 
.starter-element:hover .main-dishes-element-title,
.main-dishes-element:hover .starter-element-title, 
.main-dishes-element:hover .dessert-element-title, 
.main-dishes-element:hover .main-dishes-element-title, 
.dessert-element:hover .starter-element-title, 
.dessert-element:hover .dessert-element-title, 
.dessert-element:hover .main-dishes-element-title {
  animation: width 1s linear both;
}





