@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&family=Shrikhand&display=swap');


/*******************  MOBILE/MAIN VERSION **********************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a,
button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

body {
    margin: auto;
    font-family: "Roboto", sans-serif;
}

h1 {
    font-family: "Shrikhand", cursive;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 14px;
}

.header-index {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    box-shadow: 0px 0px 10px 0px #b4b4b4;
    
}

/*******************  SEARCH FORM **********************/

.search-form {
    background-color: #eaeaea;
    padding: 20px;
    margin-top: 0px;
    font-size: 1.2em;
    text-align: center;
}

input {
    border: none;
    background-color: #eaeaea;
    text-align: center;
}

::placeholder {
    color: black;
    opacity: 1;
}


/* END SEARCH FORM*/


.explore-button {
    background: linear-gradient(#FF79DA, #9356DC);
    padding: 15px 10px;
    border-radius: 25px;
    border: none;
    color: white;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    font-size: 1.05em;
    margin-top: 30px;
    box-shadow: 2px 2px 2px #bbbbbb;
    transition:  0.5s;

}

.explore-button:hover {
    background: linear-gradient(#fface8, #ae80e5);
    transform: scale(1.02);
    box-shadow: 5px 5px 5px #bbbbbb;
    transition:  0.5s;
}



.header-pages {
    display: grid;
    grid-template-columns: 1fr 9fr;
    justify-items: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.presentation {
    text-align: center;
    margin-bottom: 50px;
    background-color: #f2f2f2;

}

.presentation-text {
    background-color: #f2f2f2;
    padding: 40px 30px;
}

.presentation-text h2 {
    font-weight: bold;
    font-size: 1.3rem;
}

.presentation-text p {
    margin-top: 20px;
    font-size: 1.1rem;
}


/************* FONCTIONNEMENT **********/

.fonctionnement {
    font-size: 22px;
}

.fonctionnement h3 {
    font-size: 18px;
}

.fonctionnement-title {
    margin-left: 10px;
    margin-bottom: 15px;
    text-align: left;
}

.fonctionnement-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.fonctionnement-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: none;
    width: 90%;
    border-radius: 25px;
    background-color: #f2f2f2;
    box-shadow: 2px 2px 2px #f2f2f2;
    margin-top: 10px;
    margin-bottom: 12px;
    padding: 20px 5px;
    transition: transform 0.5s;
}

.fonctionnement-card:hover {
    background-color: #f5ecfe;
    transform: scale(1.03);
    box-shadow: 5px 5px 5px #d4d4d4;
    transition: 0.5s;
}

.fonctionnement-card:hover i {
    color: #9356DC;
}



.fonctionnement-card-text {
    margin-left: 20px;
}

.fonctionnement-card p {
    border-radius: 50%;
    background-color: #9356DC;
    color: white;
    padding: 2px 8px;
    margin-left: -16px;
    margin-right: 20px;
}



/*************** RESTAURANT LIST ***************/

.restaurants {
    background-color: #f2f2f2;
    padding-top: 30px;
    height: auto;
    padding-bottom: 30px;
}

.restaurant-title {
    font-size: 1.3em;
    width: 335px;
    margin: 0 auto;
}

.restaurant {
    border-radius: 25px;
    box-shadow: 10px 10px 10px #f2f2f2;
    max-width: 335px;
    min-width: 325px;
    height: 250px;
    background-color: white;
    margin: 20px auto;

}

.restaurant-img-container {
    height: 70%;
    position: relative;
}

.restaurant-text-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.restaurant-text-container h5 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.restaurant-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}


/*----------------------NEW RESTAURANT  INDICATOR (BLINKER)-------------------------*/

.restaurant-new-indicator {
    animation: blinker 1s linear infinite;
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 1;
    background-color: #99E2D0;
    color: #018766;
    padding: 5px;
    font-size: 0.7em;
    font-weight: 500;
    border-radius: 3px;
}

@keyframes blinker {
    10% {
        opacity: 0.5;
    }
     20% {
        opacity: 1;
    }
     30% {
        opacity: 0.5;
    }
     40% {
        opacity: 1;
    }

}


/*----------------------RESTAURANT PAGES-------------------------*/

.presentation-menu-img {
    width: 100%;
    height: 100%;
    max-height: 380px;
    object-fit: cover;
}

.restaurant-menu {
    background-color: #f2f2f2;
    border-radius: 35px 35px 0 0;
    margin-top: -50px;
    padding-bottom: 50px;
    position: relative;
}

.restaurant-menu-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px 20px 20px;
}

.starter-list,
.main-dishes-list,
.dessert-list {
    margin: 20px;
}

.starter-element,
.main-dishes-element,
.dessert-element {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #e7e7e7;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 20px;
}

.starter-element-title,
.main-dishes-element-title,
.dessert-element-title {
    margin-bottom: 5px;
}



.starter-element-information,
.main-dishes-element-information,
.dessert-element-information {
    display: flex;
    justify-content: space-between;
    text-overflow: ellipsis;
}

.starter-element-title h4,
.main-dishes-element-title h4,
.dessert-element-title h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price {
    font-weight: bold;
}

.dish-subtitle {
    font-size: 0.9em;
    max-width: 260px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.order-button {
    background: linear-gradient(#FF79DA, #9356DC);
    padding: 15px 10px;
    border-radius: 25px;
    border: none;
    color: white;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    font-size: 1.05em;
    box-shadow: 2px 2px 2px #bbbbbb;
    transition:  0.5s;
}

.order-button:hover {
    background: linear-gradient(#fface8, #ae80e5);
    transform: scale(1.02);
    box-shadow: 5px 5px 5px #bbbbbb;
    transition:  0.5s;

}   

.underline {
    width: 42px;
    height: 3px;
    background-color: #99E2D0;
    margin-top: 8px;
}






/*----------------------FOOTER-------------------------*/

.footer {
    background-color: #353535;
    height: auto;
    padding-bottom: 20px;
}

.footer_element {
    margin-left: 20px;
}

.footer_element a {
    margin-top: 15px;
}

.footer_element-logo {
    padding: 20px 0;
}

.footer_element-logo img {
    filter: invert(100%);
    height: 15px;
}

.footer_element-text {
    margin-left: 10px;
}

.footer_element-img {
    justify-self: center;
    width: 16px;
}

.footer a {
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
